html,body,.banner{
    height: 100%;
}

.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide{
    background:url("../image/hero-bg-1.jpg") center center no-repeat;
    background-size:cover;
}
/*版心*/
.banner{
    position: relative;
}
.md{
    width: 1080px;
    padding: 0 20px;
    box-sizing: border-box;
    margin: 0 auto;
}
.navBox{
    width: 100%;
    height: 56px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 666;
    margin-top: 14px;
}
.nav{
    height: 56px;
}
.logo{
    float: left;
    margin-top: 8px;
}
.nav-bd{
    float: right;
    margin-top: 12px;
}
.nav .nav-bd>li{
    float: left;
}
.nav .nav-bd>li>a{
    display: block;
    padding: 8px 20px;
    font-size: 16px;
    color: white;
}
.textBox{
    position: absolute;
    width: 100%;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1111;
}
.textBox h1{
    font-size: 62px;
    color: white;
    margin-bottom: 20px;
}
.textBox a{
    display: block;
    width: 295px;
    height: 59px;
    line-height: 59px;
    text-align: center;
    background: rgba(0,0,0,.6);
    border-radius: 6px;
    font-size: 22px;
    color: white;
    font-weight: bold;
}
.textBox a:hover{
    background: rgba(0,0,0,0.8);
}
.list li{
    height: 260px;
    width: 25%;
    border: 1px solid white;
    border-top-width: 2px;
    border-bottom: none;
    box-sizing: border-box;
    float: left;
    background: url("../image/promo-03.jpg") center center no-repeat;
    background-size: cover;
}
.list li:nth-child(1){
    border-left: none;
}
.list li:last-child{
    border-right: none;
}
.list li>a{
    display: block;
    height: 258px;
}
.list li p{
    font-size: 24px;
    color: #fff;
    text-align: center;
    font-weight: 400;
    padding-top: 32px;
}
.linkboxIn{

}
.linkboxIn>li{
    width: 33.33%;
    height: 140px;
    float: left;
}
.linkItem{
    height: 50px;
    margin-top: 45px;
}
.linkItem .linkItemLeft{
    float: left;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    background: url("../image/icon-wechat.png") center center no-repeat;
    background-size: contain;
}
.linkItem .linkItemRight{
    float: left;
}
.linkItem .linkItemRight>p{
    font-size: 14px;
    line-height: 22px;
    color: #1E1E1E;
}
.linkboxIn li:nth-child(2) .linkItem{
    width: 173px;
    margin: 45px auto;
}
.linkboxIn li:nth-child(3) .linkItem{
    width: 173px;
    float: right;
}
.footer{
    height: 243px;
    border-top:1px solid rgb(238,238,238);
    border-bottom:1px solid rgb(238,238,238);
}

.navMin{
    width: 30px;
    height: 35px;
    position: absolute;
    right: 30px;
    top: 25px;
    z-index: 777;
}
.navMin1,.navMin2{
    width: 20px;
    margin: 14px auto;
    border: 1px solid black;
    display: block;
    transform-origin: right center;
    transition:0.5s linear;
}
.navMin:hover .navMin1{
    transform: rotateZ(-45deg);
}
.navMin:hover .navMin2{
    transform: rotateZ(45deg);
}



/*在1080px
    1、导航消失
    2、图片列表宽度变成50%
  640px
    1、图片列表变成100%
    2、把links下面的每个小项宽100%
*/
@media screen and (max-width: 1080px){
    .nav-bd{
        display: none;
    }
    .md{
        width: 100%;
    }
}
@media screen and (min-width: 640px) and (max-width: 1080px){
        .list>li{
            width: 50%;
        }
}
@media screen and (max-width: 640px){
    .list>li{
        width: 100%;
    }
    .linkbox .linkboxIn li{
        width: 100%;
    }
    .linkbox .linkboxIn li .linkItem{
        margin-left: 0;
    }
    .linkbox .linkboxIn li .linkItem{
        float: left;
    }
}